<configuration>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/Users/vzodge/ALL_GIT_REPO/dev-sec-ops-directory/dev-sec-ops-demos/hospital-management-mono-repo/hms-logs/svc_api-gateway.log</file>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/Users/vzodge/ALL_GIT_REPO/dev-sec-ops-directory/dev-sec-ops-demos/hospital-management-mono-repo/hms-logs/svc_api-gateway.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>